@import "globals";

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #c9cacc;
}

::-webkit-scrollbar-thumb {
  background: $primary1;
  border-radius: 10px;
}

/* CUSTOM INPUT FIELD */
input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus {
  border: 1px solid #b9def3;
}

.homeContainer {
  margin: 20px;
  border: 1px solid black;
  color: $primary3;
}
.homeWrapper {
  width: 60%;
  margin: auto;
}
.toDoListWrapper {
  padding: 2px;
  margin: 50px 0 50px 0;
  height: 300px;
  overflow-y: auto;
}

.txt_center {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  margin: 10px 0 10px auto;
}
